* {
  padding: 0;
  margin: 0;
  font-family: 'Libre Baskerville', serif;
  font-family: 'Poppins', sans-serif;
  font-family: 'Quicksand', sans-serif;
}

:root {
  --color--primary: rgb(255, 255, 255);
  --color--second: rgb(25, 78, 36);
  --color-image: gainsboro;
  --color--major_secund: #f5f5f5;
  --color--shopping: rgb(38, 38, 38);
  --color--login: rgb(100, 100, 100);
  --color--text-article: rgb(148, 157, 153);
  --color--formulary: rgb(239, 239, 239);
  --color--white: rgb(255, 255, 255);
  --color--black: rgb(0, 0, 0);
  --color--hover--white: #f0f0f0;
  --color--hover--gray: rgba(255, 255, 255, 0.079);
  --transparent-shop: rgba(255, 255, 255, 0.569);
  --transparent: rgba(0, 0, 0, 57);
  --transparent-shop-add: rgba(206, 203, 203, 0.42);
  --box-shadow: #00000066;
  --color--cyan-bluish-gray: rgb(171, 184, 195);
  --color--vivid-green-whatsapp: #25d366;
  --color--pale-pink: #f78da7;
  --color--vivid-red: #cf2e2e;
  --color--luminous-vivid-orange: #ff6900;
  --color--luminous-vivid-amber: #fcb900;
  --color--light-green-cyan: #7bdcb5;
  --color--vivid-green-cyan: #00d084;
  --color--pale-cyan-blue: #8ed1fc;
  --color--vivid-cyan-blue: #0693e3;
  --color--vivid-purple: #9b51e0;
  --global-color-visibly: #ff3c3c;

  --background-gradiant: radial-gradient(circle at 50% 50%,
      #97bdb7 0,
      #82b4b1 12.5%,
      #69abac 25%,
      #4aa0a8 37.5%,
      #1294a4 50%,
      #0088a2 62.5%,
      #007ca1 75%,
      #0072a1 87.5%,
      #0068a1 100%);
  --ms: 16px;
  --md: 18px;
  --lg: 20px;
  --background-gradia: -webkit-linear-gradient(to right,
      #1294a4,
      #0072a1,
      #69abac,
      #0068a1);

  --background: linear-gradient(to right, #1294a4, #0072a1, #69abac, #0068a1);
  --border--radius-furmulary: 0.5rem;
}

body {
  margin: 0;
  background-color: var(--color--white);
}

html {
  font-size: 62.5%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dashboard-container {
  width: 100%;
  margin: auto;
}

.top-bar {
  background-color: #e5e7eb;
  width: 100%;
  padding: 13px 0;
  font-size: 14px;

}

.top-bar-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;

}

.social-icons {
  display: flex;
  gap: 8px;
}

.social-icons a {
  color: var(--color--login);
  font-size: 3rem;
  /* text-gray-600 */
}

.social-icons a:hover {
  color: var(--color--shopping);
  /* text-gray-600 */
}

/* social-link-d:nth-last-child(4) {
  color: #1877F2;

}

social-link-d:nth-last-child(3) {
  color: #E1306C;

}

social-link-d:nth-last-child(2) {
  color: #1DA1F2;

}

social-link-d:nth-last-child(1) {
  color: #0077B5;

} */
.user-options {
  display: flex;
  gap: 4rem;
}

.language-selector {
  border: 1px solid #d1d5db;
  padding: 4px 8px;
  border-radius: 4px;
}

.login-link {
  display: flex;
  align-items: center;
  color: var(--color--black);
  gap: 1rem;
  text-decoration: none;
}

.header {

  width: 80%;
  margin: 0 auto;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 3;

}

.header>.logo h1 {
  font-size: 24px;
  font-weight: bold;
  color: var(--color--second);
}



.main-nav {
  display: flex;
  gap: 16px;
}

.nav-link {
  font-weight: 600;
  color: var(--color--black);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 600;

}

.nav-link:hover {
  color: var(--color--second);

}

.cart-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-price {
  font-weight: bold;
  color: var(--color--black);
}

.cart-icon {
  color: var(--color--black);
  cursor: pointer;
  font-size: 22px;
}

.menu-toggle {
  display: none;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  width: 80%;
  column-gap: 2rem;
  margin: 0 auto;
  justify-content: space-between;
}

.sidebar {
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-section {
  width: 100%;
  background-color: white;

}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #16a34a;
  color: white;
  padding: 10px 25px 10px 40px;
  font-size: 2rem;
  cursor: pointer;
}

.sidebar-menu {
  border: 1px solid #d1d5db;
  list-style: none;
  padding-left: 20px;
}

.sidebar-item {
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.content-section {
  display: flex;
  grid-column: 2/5;
  flex-direction: column;
  width: 100%;

}

.content-side_items {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-direction: row;
  gap: 2rem;
}

.search-bar {
  display: flex;
  width: 80%;
  border: 1px solid #d1d5db;
}

.category-selector {
  padding: 8px 16px;
  display: flex;
  border: none;
}

.search-input {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
}

.search-button {
  background-color: #16a34a;
  color: white;
  padding: 8px 16px;
  border: none;
}

.contact-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

.info_time {
  font-size: 16px;
  display: flex;
  flex-direction: column;

}

.contact-section {
  display: flex;
  align-items: center;
}

.phone-icon {
  background-color: #e5e7eb;
  padding: 12px;
  border-radius: 50%;
  color: #16a34a;
  font-size: 24px;
}

.phone-number {
  font-weight: bold;
}

.support-text {
  font-size: 14px;
  color: #6b7280;
}

.hero-section {
  background-color: #d1fae5;
  padding: 48px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.hero-text {
  text-align: center;
}

.hop-button {
  background-color: #16a34a;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  margin-top: 8px;
}

.hero-image {
  width: 100%;
  max-width: 200px;
}

/* Iicioi de listado imagens dinamico */
.products {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin: 3rem auto;
}

.products>h2 {
  font-size: 5rem;
  color: var(--color--black);
  text-align: center;
}

.filter-section {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 0;
}


.filter-button {
  background-color: transparent;
  border: none;
  color: #16a34a;
  padding: 8px 16px;

  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  position: relative;
  transition: all 0.3s ease;
  /* Animación suave */
}

.filter-button.active {
  color: #16a34a;
  font-weight: bold;
}

.filter-button.active::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  height: 2px;
  background-color: #16a34a;
  border-radius: 2px;
}

.filter-button:hover {
  transform: translateY(-3px) scale(1.05);
  /* Eleva y agranda ligeramente el botón */
  color: var(--color--black);
}

.product-card-section {
  margin-top: 16px;
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
}

.product-card {
  width: 80%;
  padding: 0;
  border-radius: 8px;

}

.product-image {
  width: 89%;
  height: auto;
  padding: 6rem 2rem;
  background: var(--color-image);
  border-radius: var(--border--radius-furmulary);
  -webkit-border-radius: var(--border--radius-furmulary);
  -moz-border-radius: var(--border--radius-furmulary);
  -ms-border-radius: var(--border--radius-furmulary);
  -o-border-radius: var(--border--radius-furmulary);
}

.product-title {
  font-size: 16px;
  line-height: 2;
  font-weight: 100;
}

.product-prece {
  color: var(--color--black);
  font-size: 20px;
  line-height: 2;

  font-weight: bold;
}


.carousel-section {
  display: flex;
  gap: 16px;
  margin-top: 24px;
}

/* ELa ilucion de los botones dentro del la imagen */
.product-card-images {
  position: relative;
  text-align: center;
  padding: 16px;
  margin-bottom: 3rem;
  border-radius: 8px;

  overflow: hidden;
}

.product-image-container {
  position: relative;
}

.product-icons {
  position: absolute;
  top: 150%;
  /* Inicialmente fuera de la vista */
  left: 50%;
  transform: translate(-50%, 0);
  display: flex;
  gap: 10px;
  opacity: 0;
  transition: top 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
}

.product-card-images:hover .product-icons {
  top: 90%;
  /* Mueve los íconos hacia el centro */
  opacity: 1;
  transform: translate(-50%, -50%);
}

.icon-button {
  background-color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.icon-button:hover {
  transform: scale(1.1);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}



/* ((((((((((((((((imagenes randon dentro de los producto decuento)))))))))))))))))))))))) */
.discount-banner-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  margin: 2rem auto;
  width: 60%;
}

.discount-banner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  align-items: center;
  justify-content: space-between;
  background-color: #fdf4e7;
  /* Fondo para el primer anuncio */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.discount-banner:nth-child(2) {
  background-color: #e0f7f9;
  /* Fondo para el segundo anuncio */
}

.discount-content {
  flex: 1;
  padding-right: 2rem;
}

.discount-title {
  font-size: 3rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 1rem;
}

.discount-subtitle {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 2rem;
}

.discount-button {
  background-color: #e63946;
  /* Rojo para el botón */
  color: white;
  padding: 1rem 2rem;
  border: none;
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.discount-button:hover {
  background-color: #d62828;
  /* Más oscuro al pasar el cursor */
}

.discount-images {
  display: flex;
  gap: 1rem;
}

.discount-image {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

/* ((((((((((((((((imagenes randon dentro de los producto decuento)))))))))))))))))))))))) */
/* QQQQQ( section images inico )QQQQQ */

.content-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 85%;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 0;
}

.slider-container {
  width: 95%;
  margin: 0 auto;
  overflow: hidden;
}

.slider-container .slider-track {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3rem;
  transition: transform 0.5s ease-in-out;
}

.slider-item {
  background-color: var(--color-image);
  display: flex;
  width: 100%;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;


}

.slider-image {
  width: 80%;
  margin: 2rem auto;
  height: auto;
}

.slider-title {
  margin-top: 10px;
  font-size: 16px;
  display: flex;
  width: max-content;
  padding: 2rem 5rem;
  border-radius: .3rem;
  background-color: var(--color--white);
  font-weight: bold;
  margin: 1rem auto;
  text-transform: uppercase;
  -webkit-border-radius: .3rem;
  -moz-border-radius: .3rem;
  -ms-border-radius: .3rem;
  -o-border-radius: .3rem;
}

.slider-button {
  color: var(--color--black);
  border: none;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  transform: translateY(-50%);
  z-index: 10;
  padding: 5px 10px;

}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

.slider-button:hover {
  background-color: black;
  color: var(--color--white);
}


/*  Nuevo estilos css para caroucel */
.carousel-container-image {
  position: relative;
  width: 20%;
  height: 50vh;
  margin: auto;
  top: 11rem;
  overflow: hidden;
  border-radius: 10px;

}

.carousel-title {
  line-height: 2;
  color: var(--color--black);
  font-size: 1.8rem;
  font-weight: bold;
}

.carousel-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.carousel-buttons button {
  background-color: #f9f9f9;
  color: #333;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.carousel-buttons button:hover {
  background-color: #eaeaea;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel-item {
  display: flex;
  align-items: center;

  padding: 1rem;
  gap: 1rem;
}

.carousel-item img {
  width: 80px;
  padding: 2rem;
  background-color: var(--color-image);
  height: 80px;
  border-radius: 5px;
  object-fit: cover;
}

.carousel-item h3 {
  font-size: 1rem;
  font-weight: 100;
  margin: 0;
  line-height: 2;
}

.carousel-item p {
  font-size: 2rem;
  color: var(--color--black);
  margin: 0;
  font-weight: bold;
}

/*  FIn de nuevos estilos css para caroucel */
/* 
.dashboard-container {

}
.top-bar{

}
.top-bar-content{

}
.social-icons{

}
.user-options{

}
.language-selector{

}
.login-link{

}
.header{

}
.logo{

}
.main-nav{

}
.nav-link{

}
.cart-section{

}
.cart-price{

}
.cart-icon{

}
.menu-toggle{

}
.main-content{

}
.sidebar{

}
.sidebar-section{

}
.sidebar-header{

}
.sidebar-menu{

}
.sidebar-item{

}
.content-section{

}
.content-side_items{

}
.search-bar{

}
.category-selector{

}
.search-input{

}
.search-button{

}
.contact-info{

}
.contact-section{

}
.phone-icon{

}
.phone-number{

}
.support-text{

}
.hero-section{

}
.hero-text{
  
}
.hop-button{
  
}
.hero-image{

}
.products{

}
.product-card-section{

}
.product-card{

}
.product-image{

}
.product-title{

}
.product-prece{

}
.add-to-cart-button{

}
.product-image{

}
.carousel-section{

} */